.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;


  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    h1 {
      font-weight: 700;
      color: rgb(116, 116, 116);
    }

    .message {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      background-color: #9b40c885;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .close {
        cursor: pointer;
        color: red;
      }
    }
    .center {
      height: 350px;
      overflow: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 50%;
       
        &.own {
          align-self: flex-end;
          text-align: right;
        }

        span {
          font-size: 10px;
          background-color: #dbdddd39;
          padding: 2px;
          font-weight: 800;
          border-radius: 5px;
          color: rgb(117, 115, 115);
        }
      }
    }
    .bottom {
      height: 40px;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      border-radius: 2px;

      textarea {
        flex: 7;
        height: 100%;
        resize: none;
        overflow: auto;
        border: none;
        border-radius: 3px;
        padding: 10px;
        border: 1px solid black;
      }

      button {
        flex: 1;
        display: flex;
        background-color: rgb(56, 181, 98);
        height: 100%;
        width: 100%;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
        }
      }
    }
  }
}
